name: Intenation Error

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        run: actions/checkout@v4
      
      - name: View File
        run: cat README.md