name: "Variable Secrets - Demo"

on:
    push
env:
  DOCKER_HUB_URL: "docker.io"
  DOCKER_USERNAME: "username"
  DOCKER_PASSWORD: "password"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: "Intial Step, build docker"
        run: echo "Docker build"
      - name: "Get Docker Hub Url, Username, Password"
        run: $DOCKER_HUB_URL " " $DOCKER_USERNAME " " $DOCKER_PASSWORD

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Deploying docker"
        run: echo "Docker deploy"
      - name: "Get Docker Hub Url, Username, Password"
        run: $DOCKER_HUB_URL " " $DOCKER_USERNAME " " $DOCKER_PASSWORD