name: "Variable Secrets - Demo"

on:
    push
env:
  DOCKER_HUB_URL: "docker.io"
  DOCKER_USERNAME: "sheikmubarakj"
  DOCKER_PASSWORD: "12123123"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: "Intial Step, build docker"
        run: echo "Docker build"
      - name: "Get Docker Hub Url, Username, Password"
        run: echo "URL=$DOCKER_HUB_URL  USERNAME=$DOCKER_USERNAME PASSWORD=$DOCKER_PASSWORD"

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Deploying docker"
        run: echo "Docker deploy"
      - name: "Get Docker Hub Url, Username, Password"
        run: echo "URL=$DOCKER_HUB_URL  USERNAME=$DOCKER_USERNAME PASSWORD=$DOCKER_PASSWORD"