name: "Variable Secrets - Demo"

on:
    push
env:
  DOCKER_HUB_URL: "abc.io"
  DOCKER_USERNAME: "abc"
  DOCKER_PASSWORD: "12123123"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: "Intial Step, build docker"
        run: echo "Docker build"
      - name: "Get Docker Hub Url, Username, Password"
        run: echo "URL={{ $vars.DOCKER_HUB_URL }}  USERNAME={{ $vars.DOCKER_HUB_URL }} PASSWORD={{ $secrets.DOCKER_PASSWORD }}"

  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Intial Step, build docker"
        run: echo "Docker build"
      - name: "Get Docker Hub Url, Username, Password"
        env:
          DOCKER_HUB_URL: "bcd.io"
          DOCKER_USERNAME: "bcd"
          DOCKER_PASSWORD: "12123123"
        run: echo "URL=$DOCKER_HUB_URL  USERNAME=$DOCKER_USERNAME PASSWORD=$DOCKER_PASSWORD"

  deploy:
    runs-on: ubuntu-latest
    env:
      DOCKER_HUB_URL: "def.io"
      DOCKER_USERNAME: "def"
      DOCKER_PASSWORD: "12123123"
    steps:
      - name: "Deploying docker"
        run: echo "Docker deploy"
      - name: "Get Docker Hub Url, Username, Password"
        run: echo "URL=${{ vars.DOCKER_HUB_URL }}  USERNAME=${{ vars.DOCKER_USERNAME }} PASSWORD={{ $secrets.DOCKER_PASSWORD }}"