name: "Variable Secrets - Demo"

# on:
#     push

on: 
  workflow_dispatch:
  # schedule:
  #   - cron: "*/1 * * * *"

env:
  DOCKER_HUB_URL: "abc.io"
  DOCKER_USERNAME: "abc"
  DOCKER_PASSWORD: "12123123"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: "Intial Step, build docker"
        run: | 
          echo "Docker build"
          sleep 10
      - name: "Get Docker Hub Url, Username, Password"
        run: | 
          echo "URL=${{ vars.DOCKER_HUB_URL }}  USERNAME=${{ vars.DOCKER_USERNAME }} PASSWORD=${{ secrets.DOCKER_PASSWORD }}"
          sleep 10

  build:
    concurrency:
      group: "production-deployment"
      cancel-in-progress: true
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: "Intial Step, build docker"
        run: | 
          echo "Docker build"
          sleep 10
      - name: "Get Docker Hub Url, Username, Password"
        env:
          DOCKER_HUB_URL: "bcd.io"
          DOCKER_USERNAME: "bcd"
          DOCKER_PASSWORD: "12123123"
        run: | 
          echo "URL=$DOCKER_HUB_URL  USERNAME=$DOCKER_USERNAME PASSWORD=$DOCKER_PASSWORD"
          sleep 10

  deploy:
    concurrency:
      group: "production-deployment"
      cancel-in-progress: true
    needs: build
    runs-on: ubuntu-latest
    env:
      DOCKER_HUB_URL: "def.io"
      DOCKER_USERNAME: "def"
      DOCKER_PASSWORD: "12123123"
    steps:
      - name: "Deploying docker"
        run: | 
          echo "Docker deploy"
          sleep 10
      - name: "Get Docker Hub Url, Username, Password"
        run: | 
          echo "URL=${{ vars.DOCKER_HUB_URL }}  USERNAME=${{ vars.DOCKER_USERNAME }} PASSWORD=${{ secrets.DOCKER_PASSWORD }}"
          sleep 10