name: "node-demo-ci"

on:
  push: 
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-test-docker:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: "actions/checkout@v4"

    - name: Setup Node
      uses: "actions/setup-node@v4"
    
    - name: Install Dependencies
      run: npm install
    
    - name: Run tests
      run: npm test