name: "node-demo-ci"

on:
  push: 
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-test-docker:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: "actions/checkout@v4"

    - name: Setup Node
      uses: "actions/setup-node@v4"
    
    - name: Install Dependencies
      run: npm install
    
    - name: Run tests
      run: npm test

    - name: Login to Docker Hub
      uses: "docker/login-actions@v3"
      with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker Image
      run: docker build -t ${{ vars.DOCKER_USERNAME }}/github-actions-demo:latest .

    - name: Push Docker Image
      run: docker push ${{ vars.DOCKER_USERNAME }}/github-actions-demo:latest